<div id="sidebar">
  <header>
    <img src="/assets/img/alive_logo.png" alt="Alive logo" class="logo">
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
        <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}

    <img src="/assets/img/ivs_logo.png" alt="The Intervention Centre. Oslo University Hospital" width="150px">
    <img src="/assets/img/ntnu_logo.png" alt="NTNU" width="150px">
    <img src="/assets/img/sintef_logo.png" alt="SINTEF" width="150px">
    <img src="/assets/img/uco_logo.png" alt="University of Cordoba" width="150px">
    <img src="/assets/img/rcn_logo.png" alt="Financed by The Research Council of Norway" width="150px">

    {% include copyright.html %}
</div>
