<div id="sidebar">
  <header>
  
    <a href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/img/alive_logo.png" | relative_url }}" alt="Alive logo" class="logo">
    </a>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
        <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  <a href="https://ivs.no" alt="The Intervention Centre">
    <img src="{{ "/assets/img/ivs_logo.png" | relative_url }}" alt="The Intervention Centre. Oslo University Hospital" width="150px">
  </a>
  <a href="https://ntnu.no" alt="NTNU">
    <img src="{{ "/assets/img/ntnu_logo.png" | relative_url }}" alt="NTNU" width="150px">
  </a>
  <a href="https://sintef.no" alt="SINTEF">
    <img src="{{ "/assets/img/sintef_logo.png" | relative_url  }}" alt="SINTEF" width="150px">
  </a>
  <a href="https://www.uco.es" alt="University of Cordoba">
    <img src="{{ "/assets/img/uco_logo.png" | relative_url  }}" alt="University of Cordoba" width="150px">
  </a>
  <a href="https://www.forskningsradet.no/en" alt="The Research Council of Norway">
    <img src="{{ "/assets/img/rcn_logo.png" | relative_url }}" alt="Financed by The Research Council of Norway" width="150px">
  </a>
{% include copyright.html %}
</div>
